<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SnacksMac</title>
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--CSS-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LanchesMac.styles.css" asp-append-version="true" />
    <!--FONTS AWESOME-->
    <script src="https://kit.fontawesome.com/2fd96d5326.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SnacksMac</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li><a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">Home</a></li>
                        <li><a class="nav-link" asp-area="Admin" asp-controller="AdminSnacks" asp-action="Index">Products</a></li>
                        <li><a class="nav-link" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Categories</a></li>
                        <li><a class="nav-link" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Orders</a></li>
                        <li><a class="nav-link" asp-area="Admin" asp-controller="AdminSalesReport" asp-action="Index">Sales report</a></li>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Sales Graphics
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                        <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="AdminGraphic" asp-action="Index">Yearly Sales</a>
                                        <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="AdminGraphic" asp-action="MonthlySales" asp-route-days="30">Monthly Sales</a>
                                        <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="AdminGraphic" asp-action="WeeklySales" asp-route-days="7">Weekly Sales</a>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <li><a class="nav-link" asp-area="Admin" asp-controller="AdminImages" asp-action="Index">Manage images</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SnacksMac - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
