<br />
<i class="fa-solid fa-triangle-exclamation fa-4x"></i>
<div class="container">
    <div class="jumbotron">
        <p>
            <h1 style="font-family: Ubuntu">Access denied.</h1>
        </p>
    </div>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Go back to home page.</a>
</div>