html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*NAVBAR*/
.nav-item{
    padding:0 15px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 100;
}
/*SNACK VIEW*/
.snack-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.snack-name {
    font-family: "Ubuntu";
}
.snack-price {
    font-family: "Montserrat";
}
.short-description{
    color: #8f8f8f;
}
/*SHOPPING CART*/
.shoppingcart-image{
    width: 70px;
}
.empty-cart {
    text-align: center;
}
.remove-icon{
    width: 30px;
}
/*Admin*/
.crud-link {
    font-family: "Montserrat";
    text-decoration:none;
    color: gray;
}
.crud-link:hover{
    color: black;
}


