<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Talk to us" />
    <div class="jumbotron">
        <h3>We want to hear what you have to say.</h3>
        <p>
            If you have any doubts or sugestion, this is time.
        </p>
        <p>
            <span>
                <i class="fa-regular fa-envelope fa-3x"></i>
            </span>
            <h5><email email-address="diogolessinha@gmail.com" email-content="Send an email"></email></h5>
            <br />
            <span>
                <i class="fa-solid fa-mobile fa-3x"></i>
            </span>
            <h5>(41)9 8781-8555</h5>
            <br />
            <span>
                <i class="fa-solid fa-house fa-3x"></i>
            </span>
            <h5>Paraná-Curitiba-Cajuru.</h5>
        </p>
    </div>
</div>