<br />
<img src="~/images/adminarea.jpg" alt="Admin area"  class="marginTop1"/>
<div class="container">
    <div class="jumbotron">
        <p>
           <h1 style="font-family: Ubuntu">This is Admin area.</h1>
        </p>
    </div>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Go back to home page.</a>
</div>